body {
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: 16pt;
    margin: 2% 1%;
}

nav {
    display: flex;
    justify-content: space-between;
}

h2 {
    color: green;
}

label {
    font-size: 1.4rem;
    padding: 0px 10px;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 10px;
    transition: transform 0.3s;
    /* Adjust transition duration */
    display: inline-block;
    /* Ensures proper hover area for scaling */
}

a:hover {
    transform: scale(1.1);
    color: rgb(121, 219, 121);
}


button {
    font-size: 0.8rem;
    background-color: transparent;
    border: solid white 1px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 0% 10%;
}

.leftSide {
    width: 40%;
}

.rightSide {
    width: 40%;
}