body {
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: 16pt;
    margin: 2% 0%;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0% 5%;
}

.navBottomBorder {
    border-bottom: solid 0.2px gray;
    margin-left: 2%;
    margin-right: 1%;
    padding: 2px;
}

#inventLogo {
    font-size: 1.7rem;
}

#letterV {
    color: rgb(121, 219, 121);
    letter-spacing: 0.1px;
}

.date {
    text-align: center;
}

h2 {
    color: rgb(121, 219, 121);
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 10px;
    transition: transform 0.3s;
    display: inline-block;
}

a:hover {
    transform: scale(1.1);
    color: rgb(121, 219, 121);
}

button {
    font-size: 1rem;
    background-color: transparent;
    border: solid white 1px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.1);
    border: 1px solid rgb(121, 219, 121);
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 0% 10%;
}

.leftSide,
.rightSide {
    width: 40%;
}

.taskListItems,
.expiringItems,
.notes,
.events {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    margin: 20px 0px;
}


.taskListItems>span,
.expiringItems>span,
.notes>span,
.event>span {
    justify-content: end;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #424242;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#taskInput,
#expirationInput,
#coworkerInput,
#eventInput {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #262626;
    color: #aaa;
    font-size: 16px;
}

#saveTaskBtn,
#saveItemBtn,
#saveNoteBtn,
#saveEventBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saveTaskBtn:hover,
#saveItemBtn:hover,
#saveNoteBtn:hover,
#saveEventBtn:hover {
    background-color: #45a049;
}

footer>p {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
    background-color: #28282862;
    color: #fff;
}

footer>p::before {
    margin-right: 5px;
}